{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "12"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    [
      "styled-components",
      { "ssr": true, "displayName": true }
    ],
    [
      "prismjs",
      {
        "languages": ["javascript", "typescript", "scss", "jsx", "tsx"],
        "plugins": ["line-numbers"],
        "css": false
      }
    ]
  ]
}
